torch==1.9.0
numpy==1.19.5
scipy
scikit-learn
matplotlib
librosa==0.6.0
tensorboard>=1.14
future
pyarrow==0.14.1
lmdb==0.96
tqdm
fasttext
configargparse
numba==0.48
resampy==0.3.1
soundfile
pygame
ConfigArgParse
tensorboard
torchaudio==0.9.0
transformers
pandas
pyworld
python_speech_features
setuptools==59.5.0